<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
<title>商品</title>
<link rel="stylesheet" type="text/css" href="../static/web/css/aui.css">
<link rel="stylesheet" href="../static/web/css/classify.css">
<style>
	html,body{height: 100%;max-width: 640px;margin:0 auto;}
	.aui-bar-nav{border:none;background: #f5f5f5;}
	.main{height: calc(100% - 4.5rem);}

	#tab1-con1{padding-bottom: 3rem;}
	#tab1-con1,#tab1-con2{height: 100%;}
	.aui-tab{border-bottom: solid 1px #eee;background: #f5f5f5;height: 2.25rem;}
	.aui-tab-item{font-size: .75rem;color: #666;width: 25%;}
	.aui-tab-item.aui-active{border:none;color: #000;position: relative;}
	.aui-tab-item.aui-active:after{position: absolute;left: 40%;width: 20%;height: 2px;background: #00ae66;content: '';bottom:0;}
</style>
</head>
<body>
    <header class="aui-bar aui-bar-nav">
        <a class="aui-pull-left aui-btn">
            <span class="aui-iconfont aui-icon-left"></span>
        </a>
        <div class="aui-title">商品</div>
        <div class="aui-pull-right"></div>
    </header>
	<div class="aui-tab" id="tab">
	    <div class="aui-tab-item aui-active">点菜</div>
	</div>
	<div class="main">
		<div class="aui-item" id="tab1-con1">
			<div class="left-menu" id="left">
				<ul>
					<li class="active"><span>主食</span></li>
					<li><span>小吃</span></li>
					<li><span>饮品</span></li>
					<li><span>套餐</span></li>
				</ul>
			</div>
			<div class="con">
				<div class="right-con con-active">
					<ul>
						<li>
							<div class="menu-img"><img src="../static/web/images/鸡肉堡.jpg" width="55" height="55" /></div>
							<div class="menu-txt">
								<h4>鸡肉堡</h4>
								<p class="list1">余量:123</p>
								<p class="list2">
									<b>￥6</b>
								<div class="btn">
									<button class="minus">
										<strong></strong>
									</button>
									<i>0</i>
									<button class="add">
										<strong></strong>
									</button>
									<i class="price">6</i>
								</div>
								</p>
							</div>
						</li>
						<li>
							<div class="menu-img"><img src="../static/web/images/双层牛肉堡.jpg" width="55" height="55" /></div>
							<div class="menu-txt">
								<h4>双层牛肉堡</h4>
								<p class="list1">余量:45</p>
								<p class="list2">
									<b>特价：￥10</b>
								<div class="btn">
									<button class="minus">
										<strong></strong>
									</button>
									<i>0</i>
									<button class="add">
										<strong></strong>
									</button>
									<i class="price">10</i>
								</div>
								</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="right-con">
					<ul>
						<li>
							<div class="menu-img"><img src="../static/web/images/大薯条.jpg" width="55" height="55" /></div>
							<div class="menu-txt">
								<h4>大薯条</h4>
								<p class="list1">余量:123</p>
								<p class="list2">
									<b>￥6</b>
								<div class="btn">
									<button class="minus">
										<strong></strong>
									</button>
									<i>0</i>
									<button class="add">
										<strong></strong>
									</button>
									<i class="price">6</i>
								</div>
								</p>
							</div>
						</li>
						<li>
							<div class="menu-img"><img src="../static/web/images/小薯条.jpg" width="55" height="55" /></div>
							<div class="menu-txt">
								<h4>小薯条</h4>
								<p class="list1">余量:321</p>
								<p class="list2">
									<b>￥2</b>
								<div class="btn">
									<button class="minus">
										<strong></strong>
									</button>
									<i>0</i>
									<button class="add">
										<strong></strong>
									</button>
									<i class="price">2</i>
								</div>
								</p>
							</div>
						</li>
						<li>
							<div class="menu-img"><img src="../static/web/images/劲爆鸡米花.jpg" width="55" height="55" /></div>
							<div class="menu-txt">
								<h4>劲爆鸡米花</h4>
								<p class="list1">余量:41</p>
								<p class="list2">
									<b>特价:￥4</b>
								<div class="btn">
									<button class="minus">
										<strong></strong>
									</button>
									<i>0</i>
									<button class="add">
										<strong></strong>
									</button>
									<i class="price">4</i>
								</div>
								</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="right-con">
					<ul>
						<li>
							<div class="menu-img"><img src="../static/web/images/可乐.jpg" width="55" height="55" /></div>
							<div class="menu-txt">
								<h4>可乐</h4>
								<p class="list1">余量:114514</p>
								<p class="list2">
									<b>￥3</b>
								<div class="btn">
									<button class="minus">
										<strong></strong>
									</button>
									<i>0</i>
									<button class="add">
										<strong></strong>
									</button>
									<i class="price">3</i>
								</div>
								</p>
							</div>
						</li>
						<li>
							<div class="menu-img"><img src="../static/web/images/咖啡.jpg" width="55" height="55" /></div>
							<div class="menu-txt">
								<h4>咖啡</h4>
								<p class="list1">余量:214</p>
								<p class="list2">
									<b>￥5</b>
								<div class="btn">
									<button class="minus">
										<strong></strong>
									</button>
									<i>0</i>
									<button class="add">
										<strong></strong>
									</button>
									<i class="price">5</i>
								</div>
								</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="right-con">
					<ul>
						<li>
							<div class="menu-img"><img src="../static/web/images/超值套餐.jpg" width="55" height="55" /></div>
							<div class="menu-txt">
								<h4>超值套餐</h4>
								<p class="list1">余量:60</p>
								<p class="list2">
									<b>特价:￥13</b>
								<div class="btn">
									<button class="minus">
										<strong></strong>
									</button>
									<i>0</i>
									<button class="add">
										<strong></strong>
									</button>
									<i class="price">13</i>
								</div>
								</p>
							</div>
						</li>
						<li>
							<div class="menu-img"><img src="../static/web/images/鸡肉卷套餐.jpeg" width="55" height="55" /></div>
							<div class="menu-txt">
								<h4>鸡肉卷套餐</h4>
								<p class="list1">余量:98</p>
								<p class="list2">
									<b>￥10</b>
								<div class="btn">
									<button class="minus">
										<strong></strong>
									</button>
									<i>0</i>
									<button class="add">
										<strong></strong>
									</button>
									<i class="price">10</i>
								</div>
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="up1"></div>
			<div class="shopcart-list fold-transition">
				<div class="list-header">
					<h1 class="title">购物车</h1>
					<span class="empty">清空所有</span>
				</div>
				<div class="list-content">
					<ul></ul>
				</div>
			</div>
			<div class="footer">
				<div class="left">
					<div class="count_num"><span id="totalcountshow">0</span></div>
					<span id="cartN" class="nowrap">总计：<span id="totalpriceshow">0</span>元</span>
				</div>
				<div class="right">
					<a id="btnselect" class="xhlbtn disable">去结算</a>
				</div>
			</div>
		</div>
	    <div class="aui-item aui-hide" id="tab1-con2">
	        2
	    </div>
	</div>


<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="../static/web/js/add.js"></script>
<script type="text/javascript" src="../static/web/js/aui-tab.js" ></script>
<script type="text/javascript">
    apiready = function() {
        api.parseTapmode();
    }
    let tab = new auiTab({
        element: document.getElementById("tab"),

    }, function(ret) {
        if (ret) {
            //定义获取对象的所有兄弟节点的函数，
            function siblings(elm) {
                let a = [];
                let p = elm.parentNode.children;
                for (let i = 0, pl = p.length; i < pl; i++) {
                    if (p[i] !== elm) a.push(p[i]);
                }
                return a;
            }
            let index = ret.index;
            let activeC = document.getElementById("tab1-con" + index);
            activeC.className = "";
            for (let i = 0; i < siblings(activeC).length; i++) {
                siblings(activeC)[i].className = "aui-hide";
            }
        }
    });
</script>
</body>
</html>
