<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <!--    适配移动端-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--    网页图标 -->
    <link rel="icon" href="../static/web/images/title.ico">
    <!--    全局样式-->
    <link rel="stylesheet" href="../static/web/css/reset.css">
    <!--    字体图标-->
    <link rel="stylesheet" href="../static/web/css/iconfont.css">
    <!--    主体的样式-->
    <link rel="stylesheet" href="../static/web/css/container.css">
    <!--    页脚的样式-->
    <link rel="stylesheet" href="../static/web/css/footer.css">
    <!--    首页的样式-->
    <link rel="stylesheet" href="../static/web/css/index.css">
</head>
<body>
<!--导航开始-->
<div class="nav">
    <div class="city">
        <span>合肥</span>
<!--        target="_blank"代表新窗口打开-->
        <a href="city.html" class="iconfont" target="_blank">&#xe650;</a>
    </div>
    <div class="title">望香阁</div>
    <div class="search"><i class="iconfont">&#xe62f;</i></div>
</div>
<!--导航结束-->
<div class="clearHeight"></div>
<!--banner部分开始-->
<div class="banner">
    <img src="../static/web/images/banner1.png" alt="">
    <ul class="btn">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<!--banner部分结束-->
<!--消息开始-->
<div class="message">
    <i class="iconfont">&#xe61f;</i>
    <span>开心每一刻，七号影像点餐系列一</span>
</div>
<!--消息结束-->
<!--菜单开始-->
<div class="menu">
    <div class="menu-active">
        <a href="#">
            <img src="../static/web/images/menu1.png" alt="">
            <p>立即订餐</p>
        </a>
    </div>
    <div>
        <a href="waimai.html">
            <img src="../static/web/images/menu2.png" alt="">
            <p>叫外卖</p>
        </a>
    </div>
    <div>
        <a href="#">
            <img src="../static/web/images/menu3.png" alt="">
            <p>立即订餐</p>
        </a>
    </div>
    <div>
        <a href="#">
            <img src="../static/web/images/menu4.png" alt="">
            <p>立即订餐</p>
        </a>
    </div>
</div>
<!--菜单结束-->
<!--餐厅标题开始-->
<div class="ct-title">推荐餐厅</div>
<!--餐厅标题结束-->
<!--主体开始-->
<div class="container">
    <div class="sj-item">
        <div class="sj-top">
            <img src="../static/web/images/shangjia2.png" alt="">
            <div class="sj-info">
                <p>汉拿山烤肉</p>
                <p>人均：￥120.00 | 10人预定</p>
                <p>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont grey">&#xe636;</i>
                </p>
            </div>
            <span class="order">订</span>
        </div>
        <div class="sj-bottom">赛蒂国际工业园</div>
    </div>
    <div class="sj-item">
        <div class="sj-top">
            <img src="../static/web/images/shangjia2.png" alt="">
            <div class="sj-info">
                <p>汉拿山烤肉</p>
                <p>人均：￥120.00 | 10人预定</p>
                <p>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont grey">&#xe636;</i>
                </p>
            </div>
            <span class="order">订</span>
        </div>
        <div class="sj-bottom">赛蒂国际工业园</div>
    </div>
    <div class="sj-item">
        <div class="sj-top">
            <img src="../static/web/images/shangjia2.png" alt="">
            <div class="sj-info">
                <p>汉拿山烤肉</p>
                <p>人均：￥120.00 | 10人预定</p>
                <p>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont grey">&#xe636;</i>
                </p>
            </div>
            <span class="order">订</span>
        </div>
        <div class="sj-bottom">赛蒂国际工业园</div>
    </div>
    <div class="sj-item">
        <div class="sj-top">
            <img src="../static/web/images/shangjia2.png" alt="">
            <div class="sj-info">
                <p>汉拿山烤肉</p>
                <p>人均：￥120.00 | 10人预定</p>
                <p>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont grey">&#xe636;</i>
                </p>
            </div>
            <span class="order">订</span>
        </div>
        <div class="sj-bottom">赛蒂国际工业园</div>
    </div>
    <div class="sj-item">
        <div class="sj-top">
            <img src="../static/web/images/shangjia2.png" alt="">
            <div class="sj-info">
                <p>汉拿山烤肉</p>
                <p>人均：￥120.00 | 10人预定</p>
                <p>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont grey">&#xe636;</i>
                </p>
            </div>
            <span class="order">订</span>
        </div>
        <div class="sj-bottom">赛蒂国际工业园</div>
    </div>
    <div class="sj-item">
        <div class="sj-top">
            <img src="../static/web/images/shangjia2.png" alt="">
            <div class="sj-info">
                <p>汉拿山烤肉</p>
                <p>人均：￥120.00 | 10人预定</p>
                <p>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont grey">&#xe636;</i>
                </p>
            </div>
            <span class="order">订</span>
        </div>
        <div class="sj-bottom">赛蒂国际工业园</div>
    </div>
    <div class="sj-item">
        <div class="sj-top">
            <img src="../static/web/images/shangjia2.png" alt="">
            <div class="sj-info">
                <p>汉拿山烤肉</p>
                <p>人均：￥120.00 | 10人预定</p>
                <p>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont grey">&#xe636;</i>
                </p>
            </div>
            <span class="order">订</span>
        </div>
        <div class="sj-bottom">赛蒂国际工业园</div>
    </div>
    <div class="sj-item">
        <div class="sj-top">
            <img src="../static/web/images/shangjia2.png" alt="">
            <div class="sj-info">
                <p>汉拿山烤肉</p>
                <p>人均：￥120.00 | 10人预定</p>
                <p>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont grey">&#xe636;</i>
                </p>
            </div>
            <span class="order">订</span>
        </div>
        <div class="sj-bottom">赛蒂国际工业园</div>
    </div>
    <div class="sj-item">
        <div class="sj-top">
            <img src="../static/web/images/shangjia2.png" alt="">
            <div class="sj-info">
                <p>汉拿山烤肉</p>
                <p>人均：￥120.00 | 10人预定</p>
                <p>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont grey">&#xe636;</i>
                </p>
            </div>
            <span class="order">订</span>
        </div>
        <div class="sj-bottom">赛蒂国际工业园</div>
    </div>
    <div class="sj-item">
        <div class="sj-top">
            <img src="../static/web/images/shangjia2.png" alt="">
            <div class="sj-info">
                <p>汉拿山烤肉</p>
                <p>人均：￥120.00 | 10人预定</p>
                <p>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont grey">&#xe636;</i>
                </p>
            </div>
            <span class="order">订</span>
        </div>
        <div class="sj-bottom">赛蒂国际工业园</div>
    </div>
    <div class="sj-item">
        <div class="sj-top">
            <img src="../static/web/images/shangjia2.png" alt="">
            <div class="sj-info">
                <p>汉拿山烤肉</p>
                <p>人均：￥120.00 | 10人预定</p>
                <p>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont grey">&#xe636;</i>
                </p>
            </div>
            <span class="order">订</span>
        </div>
        <div class="sj-bottom">赛蒂国际工业园</div>
    </div>
</div>
<!--主体结束-->
<div class="clearHeight"></div>
<!--页脚开始-->
<div class="footer">
    <div class="footer-active">
        <a href="#">
            <i class="iconfont">&#xe600;</i>
            <p>首页</p>
        </a>
    </div>
    <div>
        <a href="#">
            <i class="iconfont">&#xe600;</i>
            <p>附近</p>
        </a>
    </div>
    <div>
        <a href="user.html">
            <i class="iconfont">&#xe68a;</i>
            <p>用户</p>
        </a>
    </div>
    <div>
        <a href="#">
            <i class="iconfont">&#xe600;</i>
            <p>首页</p>
        </a>
    </div>
</div>
<!--页脚结束-->


</body>
</html>