<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>点餐系统登陆页面</title>
    <!--    <script type="text/javascript" src='{{ static_url("web/js/vue.js") }}'></script>-->
    <!--    <script type="text/javascript" src='{{ static_url("web/js/axios.js") }}'></script>-->
    <!--        <link rel="stylesheet" href='{{ static_url("web/lib/elementUi/index.css") }}'>-->
    <!--        <script src='{{ static_url("web/lib/elementUi/index.js") }}'></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="text/javascript" src="../static/web/js/vue-router.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id="root" class="container">
    <div class="clearfix">
        <div class="login">
            <el-form ref="form" :model="form" label-width="80px">
                <el-form-item label="用户类型">
                    <el-select v-model="form.userType" placeholder="请选择用户类型">
                        <el-option label="管理员" value="0"></el-option>
                        <el-option label="配餐员" value="1"></el-option>
                        <el-option label="收银员" value="2"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="用户名称">
                    <el-input v-model="form.userName" placeholder="请输入用户名"></el-input>
                </el-form-item>
                <el-form-item label="登录密码">
                    <el-input v-model="form.password" placeholder="请输入密码"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="login_submit()" style="width: 220px">登录</el-button>
                </el-form-item>
                <el-form-item>
                    <a href='{{ "register" }}'>
                        <div style="text-align: center;width: 220px">
                            <span>没有账号？点击注册</span>
                        </div>
                    </a>
                </el-form-item>
            </el-form>
        </div>
    </div>
</div>
<script type="text/javascript">
    Vue.config.productionTip = false
    Vue.prototype.$http = axios

    const vm = new Vue({
        el: "#root",
        data: {
            form: {
                userType: '',
                userName: '',
                password: '',
            }
        },
        methods: {
            login_submit() {
                let params = new URLSearchParams()
                params.append('userType', this.form.userType)
                params.append('name', this.form.userName)
                params.append('password', this.form.password)

                // this.$router.push({path:'http://127.0.0.1:8000/login/login', query:params})
                this.$http.post('http://127.0.0.1:8000/login/login', params)
                    .then(function (response) {
                            const data = response.data.data
                            if (response.status === 200 && (!data))
                                return
                            if (data.code !== "0") {
                                alert(data.msg)
                            }
                        }
                    )
            },
            alert(msg) {
                console.log(msg)
                this.$alert(msg, 'error!', {
                    confirmButtonText: '确定',
                    callback: action => {
                        this.$message({
                            type: 'info',
                            message: `action: ${action}`
                        });
                    }
                });
            }
        }
    })
</script>
<style>
    .container {
        display: block;
        margin: auto;
        width: 1200px;
        height: 675px;
    }

    .clearfix {
        /*clear: both;*/
        /*display: table;*/
    }

    .box {
        box-sizing: border-box;
        float: left;
        width: 50%;
        height: 500px;
        text-align: center;
    }

    .login {
        display: block;
        margin: auto;
        width: 300px;
        padding-top: 150px;
    }
</style>
</body>
</html>