<!DOCTYPE html>
<html lang="en">
<head>
	<title>登录</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- Custom Theme files -->
	<link href="../static/web/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
	<link href="../static/web/css/style.css" type="text/css" rel="stylesheet" media="all">
	<link href="../static/web/css/font-awesome.css" rel="stylesheet"> <!-- font-awesome icons -->
	<!-- //Custom Theme files -->
	<!-- js -->
	<script src="../static/web/js/jquery-2.2.3.min.js"></script>
	<!-- //js -->
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<div class="login-page about">
	<div class="container">
		<h3 class="w3ls-title w3ls-title1">登录您的账户</h3>
		<div class="login-agileinfo">
			<form action="#" method="post">
				<input class="agile-ltext" type="text" name="Username" placeholder="用户名" required="">
				<input class="agile-ltext" type="password" name="password" placeholder="密码" required="">
				<div class="wthreelogin-text">
					<ul>
						<li>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>
								<span> 记住我 ?</span>
							</label>
						</li>
						<li><a href="#">忘记密码?</a> </li>
					</ul>
					<div class="clearfix"> </div>
				</div>
				<a href="login.html"><input type="submit" value="登录"></a>
			</form>
			<p>没有帐号? <a href="register.html"> 现在注册!</a></p>
		</div>
	</div>
</div>
</body>
</html>