<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="css/font-awesome.css" rel="stylesheet"> <!-- font-awesome icons -->
    <!-- //Custom Theme files -->
    <!-- js -->
    <script src="js/jquery-2.2.3.min.js"></script>
    <!-- //js -->

</head>
<body>
<div class="login-page about">
    <img class="login-w3img" src="images/img3.jpg" alt="">
    <div class="container">
        <h3 class="w3ls-title w3ls-title1">注册您的帐号</h3>
        <div class="login-agileinfo">
            <form action="#" method="post">
                <input class="agile-ltext" type="text" name="Username" placeholder="用户名" required="">
                <input class="agile-ltext" type="text" name="NickName" placeholder="昵称" required="">
                <input class="agile-ltext" type="text" name="phone" placeholder="手机" required="">
                <input class="agile-ltext" type="email" name="Your Email" placeholder="您的E-mail" required="">
                <input class="agile-ltext" type="password" name="password" placeholder="密码" required="">
                <input class="agile-ltext" type="password" name="Confirm Password" placeholder="确认密码" required="">
                <div class="wthreelogin-text">
                    <ul>
                        <li>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>
                                <span>我同意相关规定和政策</span>
                            </label>
                        </li>
                    </ul>
                    <div class="clearfix"> </div>
                </div>
                <input type="submit" value="注册">
            </form>
            <p>已有帐号?  <a href="login.html"> 现在登录!</a></p>
        </div>
    </div>
</div>
</body>
</html>