<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/web/images/title.ico">
    <link rel="stylesheet" href="../static/web/css/reset.css">
    <link rel="stylesheet" href="../static/web/css/iconfont.css">
    <link rel="stylesheet" href="../static/web/css/footer.css">
    <link rel="stylesheet" href="../static/web/css/user.css">
</head>
<body>
<!--导航开始-->
<div class="nav">
<span>个人中心</span>
</div>
<!--导航结束-->
<!--登录开始-->
<div class="login">
    <img src="../static/web/images/personal-center-img/touxiang.png" alt="">
    <br>
    <button type="button"><a href="login.html">登录/注册</a></button>
</div>
<!--登录结束-->
<!--菜单开始-->
<div class="menu">
    <div class="menu-item">
        <div>
            <a href="#">
                <img src="../static/web/images/personal-center-img/fanxian.png" alt="">
                <p>分享返现</p>
            </a>
        </div>
        <div>
            <a href="#">
                <img src="../static/web/images/personal-center-img/fanxian.png" alt="">
                <p>分享返现</p>
            </a>
        </div>
        <div>
            <a href="#">
                <img src="../static/web/images/personal-center-img/fanxian.png" alt="">
                <p>分享返现</p>
            </a>
        </div>
    </div>
    <div class="menu-item">
        <div>
            <a href="#">
                <img src="../static/web/images/personal-center-img/fanxian.png" alt="">
                <p>分享返现</p>
            </a>
        </div>
        <div>
            <a href="#">
                <img src="../static/web/images/personal-center-img/fanxian.png" alt="">
                <p>分享返现</p>
            </a>
        </div>
        <div>
            <a href="#">
                <img src="../static/web/images/personal-center-img/fanxian.png" alt="">
                <p>分享返现</p>
            </a>
        </div>
    </div>
</div>
<!--菜单结束-->
<div class="clearHeight"></div>
<!--页脚开始-->
<div class="footer">
    <div >
        <a href="index.html">
            <i class="iconfont">&#xe600;</i>
            <p>首页</p>
        </a>
    </div>
    <div>
        <a href="#">
            <i class="iconfont">&#xe600;</i>
            <p>附近</p>
        </a>
    </div>
    <div class="footer-active">
        <a href="user.html">
            <i class="iconfont">&#xe68a;</i>
            <p>用户</p>
        </a>
    </div>
    <div>
        <a href="#">
            <i class="iconfont">&#xe600;</i>
            <p>首页</p>
        </a>
    </div>
</div>
<!--页脚结束-->
</body>
</html>