<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>外卖</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/title.ico">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/iconfont.css">
    <link rel="stylesheet" href="css/container.css">
</head>
<body>
<!--主体开始-->
<div class="container">
    <div class="sj-item">
        <div class="sj-top">
            <img src="images/shangjia2.png" alt="">
            <div class="sj-info">
                <p>汉拿山烤肉</p>
                <p>人均：￥120.00 | 10人预定</p>
                <p>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont grey">&#xe636;</i>
                </p>
            </div>
            <span class="order">订</span>
        </div>
        <div class="sj-bottom">赛蒂国际工业园</div>
    </div>
    <div class="sj-item">
        <div class="sj-top">
            <img src="images/shangjia2.png" alt="">
            <div class="sj-info">
                <p>汉拿山烤肉</p>
                <p>人均：￥120.00 | 10人预定</p>
                <p>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont grey">&#xe636;</i>
                </p>
            </div>
            <span class="order">订</span>
        </div>
        <div class="sj-bottom">赛蒂国际工业园</div>
    </div>
    <div class="sj-item">
        <div class="sj-top">
            <img src="images/shangjia2.png" alt="">
            <div class="sj-info">
                <p>汉拿山烤肉</p>
                <p>人均：￥120.00 | 10人预定</p>
                <p>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont grey">&#xe636;</i>
                </p>
            </div>
            <span class="order">订</span>
        </div>
        <div class="sj-bottom">赛蒂国际工业园</div>
    </div>
    <div class="sj-item">
        <div class="sj-top">
            <img src="images/shangjia2.png" alt="">
            <div class="sj-info">
                <p>汉拿山烤肉</p>
                <p>人均：￥120.00 | 10人预定</p>
                <p>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont grey">&#xe636;</i>
                </p>
            </div>
            <span class="order">订</span>
        </div>
        <div class="sj-bottom">赛蒂国际工业园</div>
    </div>
    <div class="sj-item">
        <div class="sj-top">
            <img src="images/shangjia2.png" alt="">
            <div class="sj-info">
                <p>汉拿山烤肉</p>
                <p>人均：￥120.00 | 10人预定</p>
                <p>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont grey">&#xe636;</i>
                </p>
            </div>
            <span class="order">订</span>
        </div>
        <div class="sj-bottom">赛蒂国际工业园</div>
    </div>
    <div class="sj-item">
        <div class="sj-top">
            <img src="images/shangjia2.png" alt="">
            <div class="sj-info">
                <p>汉拿山烤肉</p>
                <p>人均：￥120.00 | 10人预定</p>
                <p>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont grey">&#xe636;</i>
                </p>
            </div>
            <span class="order">订</span>
        </div>
        <div class="sj-bottom">赛蒂国际工业园</div>
    </div>
    <div class="sj-item">
        <div class="sj-top">
            <img src="images/shangjia2.png" alt="">
            <div class="sj-info">
                <p>汉拿山烤肉</p>
                <p>人均：￥120.00 | 10人预定</p>
                <p>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont grey">&#xe636;</i>
                </p>
            </div>
            <span class="order">订</span>
        </div>
        <div class="sj-bottom">赛蒂国际工业园</div>
    </div>
    <div class="sj-item">
        <div class="sj-top">
            <img src="images/shangjia2.png" alt="">
            <div class="sj-info">
                <p>汉拿山烤肉</p>
                <p>人均：￥120.00 | 10人预定</p>
                <p>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont grey">&#xe636;</i>
                </p>
            </div>
            <span class="order">订</span>
        </div>
        <div class="sj-bottom">赛蒂国际工业园</div>
    </div>
    <div class="sj-item">
        <div class="sj-top">
            <img src="images/shangjia2.png" alt="">
            <div class="sj-info">
                <p>汉拿山烤肉</p>
                <p>人均：￥120.00 | 10人预定</p>
                <p>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont grey">&#xe636;</i>
                </p>
            </div>
            <span class="order">订</span>
        </div>
        <div class="sj-bottom">赛蒂国际工业园</div>
    </div>
    <div class="sj-item">
        <div class="sj-top">
            <img src="images/shangjia2.png" alt="">
            <div class="sj-info">
                <p>汉拿山烤肉</p>
                <p>人均：￥120.00 | 10人预定</p>
                <p>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont grey">&#xe636;</i>
                </p>
            </div>
            <span class="order">订</span>
        </div>
        <div class="sj-bottom">赛蒂国际工业园</div>
    </div>
    <div class="sj-item">
        <div class="sj-top">
            <img src="images/shangjia2.png" alt="">
            <div class="sj-info">
                <p>汉拿山烤肉</p>
                <p>人均：￥120.00 | 10人预定</p>
                <p>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont grey">&#xe636;</i>
                </p>
            </div>
            <span class="order">订</span>
        </div>
        <div class="sj-bottom">赛蒂国际工业园</div>
    </div>
</div>
<!--主体结束-->
</body>
</html>